
<table *ngFor="let word of words; let i = index">
  <tbody *ngIf="word.teach == false">
  <mat-card>
    <tr>
      <td id="demoFont4">{{word.articulation}}</td>
      <td *ngIf="word.partOfSpeech == 'rzeczownik'" id="colorFont1">{{word.partOfSpeech}}</td>
      <td *ngIf="word.partOfSpeech == 'czasownik'" id="colorFont3">{{word.partOfSpeech}}</td>
      <td *ngIf="word.partOfSpeech == 'przymiotnik'" id="colorFont2">{{word.partOfSpeech}}</td>
    </tr>
    <tr>

      <td><a id="firstPartWord">{{word.partOne.substring(0, cutWord(word).valueOf())}}</a>
        <a id="secondPartWord">{{word.partOne.substring(cutWord(word).valueOf())}}</a></td>
      <td><a id="firstPartWord">{{word.partTwo.substring(0, cutSecondWord(word).valueOf())}}</a>
        <a id="secondPartWord">{{word.partTwo.substring(cutSecondWord(word).valueOf())}}</a>
      </td>
    </tr>
    <tr>

      <td id="demoFont3" class="blink">{{word.polishMeaning}}</td>
      <td id="demoFont">{{word.createdDate | date}}</td>
    </tr>
    <tr>
      <td id="demoFont">{{word.spelling}}</td>
      <td id="demoFont2">{{word.title}}</td>

    </tr>
    <tr>
      <button mat-raised-button color="primary" (click)="removeWord(word)">Usuń</button>
      <button mat-raised-button color="primary" (click)="addToTeachWord(word)">Zapamiętane</button>
    </tr>
  </mat-card>
  </tbody>
</table>
