select{
  border: 3px solid #BABABA;
  margin: 10px;

  font-family: Roboto, sans-serif;
  font-size: 28px;
  letter-spacing: -1.6px;
  word-spacing: 2.8px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}
label {
  font-family: Roboto, sans-serif;
  font-size: 28px;
  letter-spacing: -1.6px;
  word-spacing: 2.8px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin: 10px;
}

button {
  margin: 10px;
}

/*option {*/
/*  font-family: Roboto, sans-serif;*/
/*  font-size: 28px;*/
/*  letter-spacing: -1.6px;*/
/*  word-spacing: 2.8px;*/
/*  color: #000000;*/
/*  font-weight: 700;*/
/*  text-decoration: none;*/
/*  font-style: normal;*/
/*  font-variant: small-caps;*/
/*  text-transform: none;*/
/*}*/
.example-form-field {
  width: 200px;
}
