<p>word-card works!</p>

<mat-card class="example-card">Simple card
  <tbody *ngIf="word.teach == false">
  <tr>
    <td id="demoFont4">{{word.articulation}}</td>
    <td><a id="firstPartWord">{{word.partOne.substring(0, cutWord(word).valueOf())}}</a>
      <a id="secondPartWord">{{word.partOne.substring(cutWord(word).valueOf())}}</a></td>
    <td><a id="firstPartWord">{{word.partTwo.substring(0, cutSecondWord(word).valueOf())}}</a>
      <a id="secondPartWord">{{word.partTwo.substring(cutSecondWord(word).valueOf())}}</a>
    </td>
  </tr>
  <tr>
    <td *ngIf="word.partOfSpeech == 'rzeczownik'" id="colorFont1">{{word.partOfSpeech}}</td>
    <td *ngIf="word.partOfSpeech == 'czasownik'" id="colorFont3">{{word.partOfSpeech}}</td>
    <td *ngIf="word.partOfSpeech == 'przymiotnik'" id="colorFont2">{{word.partOfSpeech}}</td>
    <td id="demoFont3" class="blink">{{word.polishMeaning}}</td>
    <td id="demoFont">{{word.createdDate | date}}</td>
  </tr>
  <tr>
    <td id="demoFont">{{word.spelling}}</td>
    <td id="demoFont2">{{word.title}}</td>
  </tr>
  </tbody>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="removeWord(word)">USUŃ</button>
    <button mat-raised-button color="primary" (click)="addToTeachWord(word)">NIENAUCZONE</button>
  </mat-card-actions>
</mat-card>
