<!-- Default switch -->

<mat-slide-toggle color="primary" [(ngModel)]="changeLanguage" (change)="changed()">Zmień język</mat-slide-toggle>

<table class="cardWord" *ngFor="let word of words; let i = index">
  <tbody *ngIf="word.teach == false && changeLanguage == true">

  <tr (click)="hidden()">
    <td id="Font1">{{word.spelling}}</td>
    <td id="Font1" [hidden]="isHidden">{{word.polishMeaning}}</td>
  </tr>
  </tbody>
  <tbody *ngIf="word.teach == false && changeLanguage == false">

  <tr (click)="hidden()">
    <td id="Font1">{{word.polishMeaning}}</td>
    <td id="Font1" [hidden]="isHidden">{{word.spelling}}</td>
  </tr>
  </tbody>
</table>

