<table *ngFor="let word of words; let i = index">
  <tbody>
  <tr>
    <div class="card">
      <td id="demoFont1">Wymowa: {{word.articulation}}</td>
      <td id="demoFont1">{{word.polishMeaning}}</td>
      <label id="demoFont1">Skojarzone rzeczowniki:</label>
      <td id="demoFont2">{{word.partOne}},</td>
      <td id="demoFont3">{{word.partTwo}}</td>

      <td>
        <a id="demoFont2">Pisowania: {{word.spelling}}</a>
      </td>
      <td id="demoFont4">Autor: {{word.createdBy}}</td>
    </div>
  </tr>
  </tbody>
</table>

